.tareas{

  &_tarea{
    width: calc(25% - 6px);
  }
}
.tareas-test {

  &_boot-card {
    background-color: #ff1a1a20;
    height: 200px;
    // padding: 15px;
    border: 1px solid;
    border-radius: 6px;

    &_content{
      height: 100%;
      padding: 15px;

      &_header {
        font-size: 18px;
        font-weight: 600;
        // white-space: nowrap;
        // overflow: hidden;
        // width: 80%;
        // text-overflow: ellipsis;
        // width: 80%;
        // word-break: break-word;
      }
  
      &_info {

        &_text {
          font-size: 18px;
        }
  
        &_role {
          font-weight: 600;
        }
      }
    }
  }
}

.prueba{

  &_card{
    height: 200px;
    
    &_content{
      border: 1px solid;
      border-radius: 6px;
      padding: 15px;
      background-color: #ff1a1a20;
      &_header{
        font-size: 18px;
        font-weight: 600;
      }

      &_info{

      }
      &_role{
        font-weight: 600;
        
      }
    }
  }
}

.completed {
  background-color: #4dff4d20 !important;
}

//mixin test
@mixin rtl($color) {
  background-color: $color;
}