<div class="container-fluid">
  <div class="tareas d-flex flex-wrap gap-2 row">
    <!-- <div class="tareas_card d-flex flex-column justify-content-between gap-4" *ngFor="let tarea of tareas"
    [class.completed]="tarea.completed" 
    [ngStyle]="{'background-color': tarea.completed ? '#4dff4d20' : '#ff1a1a20'}"
    > -->
    <div class="tareas_card d-flex flex-column justify-content-between gap-4" *ngFor="let tarea of tareas"
    [class.completed]="tarea.completed">
      <span class="tareas_card_header">
        {{tarea.title}}
      </span>
      <div class="tareas_card_info d-flex justify-content-between">
        <span class="tareas_card_info_text" *ngIf="tarea.completed === false">
          tarea sin completar
        </span>
        <span class="tareas_card_info_text" *ngIf="tarea.completed === true">
          tarea completada!
        </span>
        <span class="tareas_card_info_role" *ngIf="tarea.userId === 1">
          Administrador
        </span>
        <span class="tareas_card_info_role" *ngIf="tarea.userId === 2">
          Moderador
        </span>
      </div>
    </div>
  </div>
  
  <div class="w-100"></div>
  
  <!--pruebas con bootstrap-->
  <div class="tareas-test row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    
    <div class="tareas-test_boot-card d-flex flex-column justify-content-between col" *ngFor="let tarea of tareas"
    [class.completed]="tarea.completed">
      <span class="tareas-test_boot-card_header">
        {{tarea.title}}
      </span>
      <div class="tareas-test_boot-card_info d-flex justify-content-between">
        <span class="tareas-test_boot-card_info_text" *ngIf="tarea.completed === false">
          tarea sin completar
        </span>
        <span class="tareas-test_boot-card_info_text" *ngIf="tarea.completed === true">
          tarea completada!
        </span>
        <span class="tareas-test_boot-card_info_role" *ngIf="tarea.userId === 1">
          Administrador
        </span>
        <span class="tareas-test_boot-card_info_role" *ngIf="tarea.userId === 2">
          Moderador
        </span>
      </div>
    </div>
  </div>

  <div class="w-100"></div>

  <div class="container-fluid mt-5">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Row column</div>
      </div>
    </div>
  </div>
</div>