.label{
   
        
        &_input{
            font-size: 18px;
            padding: 7px 20px;
        }
        &_star{
            width: 34px;
            height: 34px;
            cursor: pointer;
        }
    
}

