.tarea {
  position: relative;
  background-color: #ff1a1a20;
  height: 200px;
  padding: 15px;
  border: 1px solid;
  border-radius: 6px;
  width: 100%;

  &_header {
    font-size: 18px;
    font-weight: 600;
  }

  &_info {
    
    &_text {
      font-size: 18px;
    }

    &_role {
      font-weight: 600;
    }
  }
}

.completed {
  background-color: #4dff4d20;
}