<div class="heroes container-fluid">
  <!-- <ul class = "heroes">
    <li *ngFor = "let hero of heroes" class="heroes_list">
        <a (click)="navigateToHero(hero)">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
        <app-label [text] = "hero.name" [selected] = "hero.selected" (textChange) = "hero.name = $event"></app-label>
    </li>
</ul> -->
  <!-- <img src="src\assets\img\user.png"> -->

  <div class="heroes_users row gap-4">
    <span class="heroes_users_title col-12">My Users</span>
    <div class="heroes_users_card col-4 d-flex flex-column" *ngFor="let user of users">
      <span class="heroes_users_card_name">{{user.name}}</span>
      <span class="heroes_users_card_email">{{user.email}}</span>
      <span class="heroes_users_card_phone">{{user.phone}}</span>
      <span class="heroes_users_card_phone">{{user.address?.city}}</span>
      <app-label [(text)]="user.name"></app-label>
    </div>
  </div>

  <div class="heroes_separator"></div>

  <div class="heroes_section">My Heroes</div>

  <div class="heroes_info row gap-4 no-gutters">
    <!-- <div class="col-4" *ngFor></div> -->
    <div class="heroes_info_card col-4 row d-flex flex-column justify-between gap-2" *ngFor="let hero of heroes">
      <div class="heroes_info_card_id col-12" routerLink="/detail/{{hero.id}}">{{hero.id}}</div>
      <div class="heroes_info_card_name-container d-flex gap-4">
        <div class="heroes_info_card_name" routerLink="/detail/{{hero.id}}">{{hero.name}}</div>
        <div class="heroes_info_card_separator">-</div>
        <app-hero-type *ngIf="hero.typeId" [type]="heroTypesNames[hero.typeId]"></app-hero-type>
      </div>
      <!-- <div *ngIf="hero.typeId"> - {{heroTypesNames[hero.typeId]}}</div> -->
      <app-label [(text)]="hero.name"></app-label>
    </div>
  </div>

  <div class="row gap-4 d-flex">
    <div class="card" style="width: 18rem;" *ngFor="let hero of heroes">
      <img class="card-img-top" src="\assets\img\user.png" alt="Card image cap">
      <div class="card-body">
        <div class="row col-12 d-flex justify-between">
          <h5 class="card-title col">{{hero.name}}</h5>
          <span></span>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
        <a class="btn btn-primary col-12" routerLink="/detail/{{hero.id}}">{{hero.id}}</a>
      </div>
    </div>
  </div>

  <div class="heroes_separator"></div>

  <div class="heroes_section">Pruebas layouts</div>

</div>