<div class="heroes container-fluid">
  <!-- <ul class = "heroes">
    <li *ngFor = "let hero of heroes" class="heroes_list">
        <a (click)="navigateToHero(hero)">
            <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
        <app-label [text] = "hero.name" [selected] = "hero.selected" (textChange) = "hero.name = $event"></app-label>
    </li>
</ul> -->
  <!-- <img src="src\assets\img\user.png"> -->

  <div class="heroes_users row gap-4">
    <span class="heroes_users_title col-12">My Users</span>
    <div class="heroes_users_card col-4 d-flex flex-column" *ngFor="let user of users">
      <span class="heroes_users_card_name">{{user.name}}</span>
      <span class="heroes_users_card_email">{{user.email}}</span>
      <span class="heroes_users_card_phone">{{user.phone}}</span>
      <span class="heroes_users_card_phone">{{user.address?.city}}</span>
      <app-label [(text)]="user.name"></app-label>
    </div>
  </div>

  <div class="heroes_separator"></div>

  <div class="heroes_section">My Heroes</div>

  <div class="heroes_info row gap-4 no-gutters">
    <!-- <div class="col-4" *ngFor></div> -->
    <div class="heroes_info_card col-4 row d-flex flex-column justify-between gap-2" *ngFor="let hero of heroes">
      <div class="heroes_info_card_id col-12" routerLink="/detail/{{hero.id}}">{{hero.id}}</div>
      <div class="heroes_info_card_name-container d-flex gap-4">
        <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
        <div class="heroes_info_card_name" routerLink="/detail/{{hero.id}}">{{hero.name}}</div>
        <div class="heroes_info_card_separator">-</div>
        <app-hero-type [(typeId)]="hero.typeId"></app-hero-type>
      </div>
      <!-- <div *ngIf="hero.typeId"> - {{heroTypesNames[hero.typeId]}}</div> -->
      <app-label [(text)]="hero.name"></app-label>
    </div>
  </div>

  <div class="row gap-4 d-flex">
    <div class="card" style="width: 18rem;" *ngFor="let hero of heroes">
      <img class="card-img-top" src="\assets\img\user.png" alt="Card image cap">
      <div class="card-body">
        <div class="row col-12 d-flex justify-between">
          <h5 class="card-title col">{{hero.name}}</h5>
          <span></span>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
        <a class="btn btn-primary col-12" routerLink="/detail/{{hero.id}}">{{hero.id}}</a>
      </div>
    </div>
  </div>

  <div class="heroes_separator"></div>

  <div class="heroes_section w-100">Pruebas layouts</div>

  <div class="row w-100">
    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Write your name</label>
          <input [(ngModel)]="newHero.name" name="name" type="email" class="form-control" id="exampleInputEmail1"
            placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select your class</label>
          <select [(ngModel)]="newHero.typeId" name="typeId" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Mago</option>
            <option value="2">Guerrero</option>
            <option value="3">Animal</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
      <form class="form-container">
        <div class="form-group">
          <label for="exampleInputEmail1">Write your name</label>
          <input [(ngModel)]="newHero.name" name="name" type="email" class="form-control" id="exampleInputEmail1"
            placeholder="Enter name">
        </div>

        <!-- <div class="form-group">
          <label for="exampleFormControlSelect1">Select your class</label>
          <select [(ngModel)]="newHero.typeId" name="typeId" class="form-control" id="exampleFormControlSelect1">
            <option value="1">Mago</option>
            <option value="2">Guerrero</option>
            <option value="3">Animal</option>
          </select>
        </div> -->
        <div class="align-items-start">
          <button type="submit" class="btn btn-primary align-bottom">Submit</button>
        </div>
      </form>
    </div>
  </div>



  <div class="heroes_separator"></div>

  <div class="heroes_section w-100">Calendar</div>

  <div class="row w-100">
    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
      <p-calendar class="w-100" [(ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar>
    </div>
    <div class="col-12 col-lg-6 col-md-12 col-sm-12 row mt-sm-2 mt-md-0">
      <div class="col-12">
        <p-dropdown [options]="tiposHeroes" [(ngModel)]="tipoSeleccionado"></p-dropdown>
      </div>
      <div class="col-12">
        <p-listbox [options]="tiposHeroes" [(ngModel)]="tipoSeleccionado"></p-listbox>
      </div>
      <div class="col-12">
        <p-dropdown [options]="tiposHeroes" [(ngModel)]="tipoSeleccionado"></p-dropdown>
      </div>
      <div class="col-12">
        <p-listbox [options]="tiposHeroes" [(ngModel)]="tipoSeleccionado"></p-listbox>
      </div>
    </div>
  </div>

  <div>
    <form #heroForm="ngForm" name="heroesCreateForm" (ngSubmit)="onSubmit()">
      <label for="new-hero">Hero name: </label>
      <input id="new-hero" [(ngModel)]="newHero.name" name="name" required #name="ngModel" />
      <!-- (click) passes input value to add() and then clears the input -->
      <button type="submit" [disabled]="!heroForm.form.valid" class="add-button">
        Add hero
      </button>
    </form>
  </div>

  <div class="heroes_separator"></div>

  <div class="heroes_section w-100">More Forms</div>

  <a class="btn btn-primary" (click)="heroFormTest.reset()">RESET FORM</a>


  <form #heroFormTest="ngForm" name="heroesCreateForm" (ngSubmit)="onSubmit()"
    class="form-container row w-100 flex-row">
    <div class="form-group col-6 col-sm-12 col-md-6 col-lg-6 mb-3">
      <label for="new-hero-test">Hero name: </label>
      <input id="new-hero-test" [(ngModel)]="newHeroTest.name" name="name" required #name="ngModel"
        class="form-control" />
    </div>
    <div class="form-group col-6 col-sm-12 col-md-6 col-lg-6 mb-3">
      <label for="new-hero-test-id">Hero id: </label>
      <input id="new-hero-test-id" [(ngModel)]="newHeroTest.id" name="id" required #name="ngModel" class="form-control"
        #newherotestid="ngModel" />
      <div [hidden]="newherotestid.valid || newherotestid.pristine" class="alert alert-danger">
        Id is required
      </div>
    </div>
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
      <label for="new-hero-test-typeid">Hero typeId: </label>
      <input id="new-hero-test-typoid" [(ngModel)]="newHeroTest.typeId" name="typeid" required #name="ngModel"
        class="form-control" />
    </div>
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="submit" [disabled]="!heroFormTest.form.valid" class="add-button">
      Add hero
    </button>
  </form>