.heroes {
  width: 100%;
  padding: 25px;
  border: 1px solid rgb(112, 110, 110);
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &_card{
    background-color: #fff;
    border: 1px solid #000;
    width: calc(33.33% - 20px);
    &_name{
      font-size: 18px;
      font-weight: 300;
    }
    &_email{
      font-size: 16px;
    }
    &_phonhe{
      font-size: 16px;
    }
  }
}